<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false">

	<bean id="abstractDataSource" abstract="true"
		class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		destroy-method="close">
		<property name="driverClassName" value="${db.driver}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<!-- <property name="poolPreparedStatements" value="true" /> <property 
			name="maxPoolPreparedStatementPerConnectionSize" value="20" /> -->
		<!-- <property name="filters" value="stat,wall" /> -->
		<!-- <property name="filters" value="config" /> <property name="connectionProperties" 
			value="config.decrypt=true" /> -->
	</bean>

	<bean id="dataSourceWrite" parent="abstractDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${db.write.url}" />
		<property name="username" value="${db.write.username}" />
		<property name="password" value="${db.write.password}" />
		<!--maxActive: 最大连接数量 -->
		<property name="initialSize" value="${db.initialSize}" />
		<!--minIdle: 最小空闲连接 -->
		<property name="minIdle" value="${db.minIdle}" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="${db.maxActive}" />
	</bean>

	<bean id="dataSourceRead1" parent="abstractDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<!-- 基本属性 url、user、password -->
		<property name="url" value="${db.read1.url}" />
		<property name="username" value="${db.read1.username}" />
		<property name="password" value="${db.read1.password}" />
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="${db.initialSize}" />
		<property name="minIdle" value="${db.minIdle}" />
		<property name="maxActive" value="${db.maxActive}" />
	</bean>

	<bean id="dataSource" class="com.zhuyong.test.common.base.datasource.DataSourceRouter" lazy-init="true">
		<description>多数据源路由</description>
		<property name="targetDataSources">
			<map key-type="java.lang.String" value-type="javax.sql.DataSource">
				<entry key="write" value-ref="dataSourceWrite"/>
				<entry key="read" value-ref="dataSourceRead1"/>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSourceWrite" />
	</bean>

</beans>
